code.lang-text {
    word-break:break-all !important;
    white-space: pre-line !important;
    }
        
table[data-hy-role=doctbl]{
    border-collapse: separate;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline-table;
    border:1px solid #ddd;
    border-left:none;
    border-top:none;
}

table[data-hy-role=doctbl] tr:first-child {
        background-color:#0088cc;
        color: #ffffff;
        font-size: 14px;
    }

    table[data-hy-role=doctbl] tr:first-child>th:first-child{
        border-top-left-radius: 4px;
        -webkit-border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
    }

    table[data-hy-role=doctbl] tr:first-child>th:last-child{
        border-top-right-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        -moz-border-radius-topright: 4px;
    }
    
    table[data-hy-role=doctbl] td, table[data-hy-role=doctbl] th{
        text-align: left;
        border: none;
        border-left:1px solid #ddd;
        border-top:1px solid #ddd;
    }