<style>
    div[data-role='content']>a {
        margin: 5px;
        display:inline-block;
        width: 100px;
    }
</style>

<a href="routertest/index">routertest</a>
<a href="routertest/text">test/text</a>
<a href="routertest/json">test/json</a>
<a href="routertest/req">test/req</a>

<br /><br />

<a href="bcklib/retmsg">通用响应对象</a>
<a href="bcklib/cip">客户端IP</a>

<br /><br />
<div>view:index/index</div>