<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title + '-' + ctx._appConfig.title %>
    </title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <h1>npm 包开发 , to <a href="/">index</a></h1>
    <hr />
    <div data-role="content">
        <%- body %>
    </div>
    <hr />
    <h3>_layout/default </h3>
</body>

</html>