<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <h1>npm 包开发</h1>
    <hr />
    <%- body %>
    <hr />
    <h3>_layout/default.h5</h3>
</body>

</html>