<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <h1>这是test布局头部 Test</h1>
    <hr />
    <%- body %>
    <hr />
    <h1>这是test布局尾部</h1>
</body>

</html>